# --- Django Security ---
SECRET_KEY=tusecretkeysegura12345
ALLOWED_HOSTS=localhost,127.0.0.1

# --- Database ---
DB_NAME=encrypted_chat
DB_USER=[USERNAME]
DB_PASSWORD=[PASSWORD]
DB_HOST=localhost
DB_PORT=3306
