# URL base para las peticiones REST (ej. http://localhost:8000/api/v1)
VITE_API_URL=

# URL base para WebSockets (ej. ws://localhost:8000/ws)
VITE_WS_URL=

# Agrega otras llaves públicas necesarias aquí (e.g. VITE_GOOGLE_CLIENT_ID)
